.PanelAdmin {
  margin: 75px 0 50px 0;
}

.icon {
  filter: invert(100%);
}

.Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeadingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.HeadingWrapper h1 {
  font: var(--font-xl);
  font-weight: 800;
  color: var(--primary-color);
}

.InfoCards {
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.InfoCardWrap {
  color: var(--light-color);
}
