:root {
  --bg-color: #ffffff;
  --bg-header-color: #7F61DD;
  --bg-footer-color: rgba(222, 213, 249, 1);

  --container-margin: 100px;

  --primary-color: black;
  --secondary-color: rgba(0, 0, 0, 0.5);
  --light-color: rgba(255, 255, 255, 0.85);

  --navbar-height: 56px;
  --footer-height: 111px;
}